body {
    background-color: coral;
}

h1 {
    font-size: 48pt;
    text-align: center;
}

section {
    height: 600px;
    width: 900px;
    background-color: white;
    margin: auto;
    text-align: center;
}

section .visor {
    margin-bottom: 225px;
    font-size: 16pt;
}

section button {
    height: 80px;
    width: 110px;
}
