body {
    background-color: coral;
}

h1 {
    font-size: 48pt;
    text-align: center;
}

section {
    height: 640px;
    width: 900px;
    background-color: lightblue;
    margin: auto;
    text-align: center;
}

section .conta {
    height: 60px;
    font-size: 16pt;
    background-color: lightblue;
    text-align: right;
}

section .visor {
    font-size: 24pt;
    background-color: white;
    border-radius: 30px;
    height: 100px;
}

section button {
    height: 100px;
    width: 130px;
    font-size: 24pt;
}
